<h1>Listing lotes</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Superficie</th>
      <th>Memorial</th>
      <th>Coord</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lotes.each do |lote| %>
      <tr>
        <td><%= lote.numero %></td>
        <td><%= lote.superficie %></td>
        <td><%= lote.memorial %></td>
        <td><%= lote.coord %></td>
        <td><%= link_to 'Show', lote %></td>
        <td><%= link_to 'Edit', edit_lote_path(lote) %></td>
        <td><%= link_to 'Destroy', lote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lote', new_lote_path %>
